<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778212110619-b7c110r7thp274uglk4gn6gvjdeav1ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778212110619-b7c110r7thp274uglk4gn6gvjdeav1ba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778212110619-ik5hdotdp4geccuf9u8i3bj87477mjdt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYbRzEs03EL74cUw1xjFkxEi9mMOGiS4c</string>
	<key>GCM_SENDER_ID</key>
	<string>778212110619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myshop-ios</string>
	<key>PROJECT_ID</key>
	<string>rapid-chat-314700</string>
	<key>STORAGE_BUCKET</key>
	<string>rapid-chat-314700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778212110619:ios:052714b75c00bb92a5e3be</string>
	<key>DATABASE_URL</key>
	<string>https://rapid-chat-314700-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>